@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#cabeça{
    background-color: #6e6e6e;
    display: flex;

}

.pesquisa{
    width: 100%;
    min-width: 200px;
    max-width: 280px;
    margin-left: 10px;
    margin-top: 1px;
    height: 38px;
    border: solid 2px black;
    display: flex;

}

.btn{
    border: none;
    color: #00a8ff;
    float: right;
    width: 100%;
    max-width: 40px;
    height: 38px;
    background-color: #353b48;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#pesquisa-txt{
    background: none;
    border: none;
    outline: none;
    float: left;
    padding: 0;
    color: rgb(0, 0, 0);
    font-size: 16px;
    transition: 0.4s;
    line-height: 38px;
    width: 100%;
    background-color: white;
}
.btn:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}
#menu{
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bnt{
    position: relative;
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 22px;

    padding: 2px;

}
#seta{
    position: relative;
    background: none;
    border: none;
    margin-left: 7px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 3px;
}
ul{
    list-style: none;
    text-align: center;
    color: white;
    display: none;
}
#lista{
    background-color: #6e6e6e;
    width: 100px;
    position: absolute;
    top: 42px;
    height: 0px;
    transition: all 0.4s;
}
#bnt:hover{
    transition: 0.4s;
    background-color: #353b48;
    border-radius: 5px;
}
#seta:hover{
    transition: 0.4s;
    background-color: #353b48;
    border-radius: 5px;
}

#body{
}
#carros{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(4, 21, 36);
}

.slide{
    width: 1280px;
    height: 398px;
    overflow: hidden;
    border: 10px;
    border-radius: 10px;
    transition: all 0.4s;

}

.slides{
    width: 5000px;
    display: flex;

}

.images img{
    width: 1280px;
    height: 398px;
    transition: all 1s;

}
#atual{
    margin-left: 0px;
    transition: all 0.5s;
}
@media(max-width: 600px){
    .images img{
        width: 500px;
    }
    .slide{
        width: 500px;
    }
}
.bt{
    background-color: white;
    font-size: 30px;
    color: #48b3e9;
    position: absolute;
    cursor: pointer;
    height: 50px;
    width: 20px;
    align-items: center;
    justify-content: center;
    display: none;

}
#next{
    left: 0;
    border-radius: 0 50% 50% 0;
    padding-right: 10px; 
}
#back{
    right: 0px;
    border-radius: 50% 0 0 50%;
    padding-left: 10px;
}
#carros:hover .bt{
    display: flex;
}

